body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f1e33;
    color: white;
}

button{
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn{
    display: block;
}

.container{
    display: flex;
    gap: 25px;
}

.box{
    margin: 0 auto;
}

.hidden{
    display: none;
}

#result{
    text-align: center;
}

h1{
    text-align: center;
}

#answerStatus{
    text-align: center;
}